<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750116343590-ith96kr1s4puseoo4bh3f4mtfauqesu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750116343590-ith96kr1s4puseoo4bh3f4mtfauqesu6</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ3tiY69ckG_oHGthyzxg4aW7CczZfSLM</string>
	<key>GCM_SENDER_ID</key>
	<string>750116343590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.countrycodecrash</string>
	<key>PROJECT_ID</key>
	<string>countrycodecrash</string>
	<key>STORAGE_BUCKET</key>
	<string>countrycodecrash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750116343590:ios:e5c75b35fb53334177bbe7</string>
</dict>
</plist>